<%= simple_form_for @pic, html: { multipart: true } do |f| %>
#errors
    

  <div class = form-group >
  <%= f.input :title, input_html: { class: 'form-control'} %>
  </div>
  <div class = form-group >
  <%= f.input :description, input_html: { class: 'form-control'} %>
  </div>
  <div class = form-group >
  <% if @pic.image.attached? %>
  <%= image_tag @pic.image, style: 'width: 200px; display: block' %>
  <% end %>
  <%= f.label :image %>
  <%= f.file_field :image, class: 'form-control' %>
  <div class = form-group >
  <%= f.button :submit, class: 'btn btn-info' %>
  </div>

<% end %>